.tree-item {
    padding: 0;
}

.tree-item--focused {
    box-shadow: 0;
}

.tree-item--active {
    background: #818a91;
}

.rstm-tree-item--active {
    background: #007bff;
}

:focus {
    outline: -webkit-focus-ring-color auto 0px;
}