.dropzone .dz-preview.dz-image-preview {
    background: transparent;
}

.dropzone .dz-preview .dz-progress {
    display: none;
}

div.filepicker {
    text-align: center;
    padding: 5px;
    background-color: transparent;
    border-radius: 5px;
    min-height: 60px;
    border: 2px dashed rgb(0, 116, 217);
    color: #55595c;
    font: inherit;
}

.img-wrap {
    position: relative;
    display: inline-block;
}

.img-wrap .delete {
    position: absolute;
    top: 0rem;
    right: 0rem;
    z-index: 100;
    width: 36px;
    opacity: 0.75;
    font-size: 33px;
}

.img-wrap img,
video,
audio {
    opacity: 0.9;
}

.img-wrap .delete:hover {
    opacity: 1;
    cursor: pointer;
    color: #db1414;
}